body{
	background: url('img/background.jpg');
}

.parent{
	  width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;
    color: white;
	font-family: 'Gluten', cursive;
	font-size: 64px;   
}




#clock-time{
	font-size: 56px;


}
p{
   padding-left: 60px;
}
div.content{
   width: 300px;
   height: 244px;
}